/* Footer
   ========================================================================== */
.footer input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]), .footer select, .footer textarea {
	display: block;
	border: none;
	background: #2e3335;
	width: 100%;
	padding: 13px 24px;
	outline: none !important;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	font-weight: 300;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.footer .form-group {
	margin-bottom: 1px;
}
.footer ::-webkit-input-placeholder {
	color: #88949b;
}
.footer :-moz-placeholder {
	color: #88949b;
}
.footer ::-moz-placeholder {
	color: #88949b;
}
.footer :-ms-input-placeholder {
	color: #88949b;
}